openapi: 3.0.1
info:
  title: pizza-shack-api
  description: |
    This is a RESTFul API for Pizza Shack online pizza delivery store.
  contact:
    name: John Doe
    url: 'http://www.pizzashack.com'
    email: architecture@pizzashack.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: v1
servers:
  - url: 'https://localhost:8243/pizzashack/v1'
tags:
  - name: menu
    description: Everything about your menu
  - name: order
    description: Access to pizza orders
paths:
  /order:
    post:
      operationId: createOrder
      description: Create a new Order
      requestBody:
        description: Order object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        required: true
      responses:
        '201':
          description: Created. Successful response with the newly created object as entity inthe body. Location header contains URL of newly created entity.
          headers:
            Location:
              description: The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request. Invalid request or validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '415':
          description: Unsupported Media Type. The entity of the request was in a not supported format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - default:
            - 'resource:writer'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
      x-codegen-request-body-name: body
      tags:
        - order
      summary: ''
  /menu:
    get:
      operationId: listMenu
      description: Return a list of available menu items
      responses:
        '200':
          description: OK. List of APIs is returned.
          content:
            application/json:
              schema:
                type: array
                description: ''
                minItems: 1
                uniqueItems: true
                items:
                  $ref: '#/components/schemas/MenuItem'
              examples:
                200-OK:
                  value:
                    - name: BBQ Chicken Bacon
                      description: 'Grilled white chicken, hickory-smoked bacon and fresh sliced onions in barbeque sauce'
                      price: '25,99'
                      icon: /images/6.png
                    - name: Chicken Parmesan
                      description: 'Grilled chicken, fresh tomatoes, feta and mozzarella cheese'
                      price: '28,99'
                      icon: /images/1.png
        '201':
          description: Created
        '304':
          description: Not Modified. Empty body because the client has already the latest version of the requested resource.
          content: {}
        '406':
          description: Not Acceptable. The requested media type is not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - default:
            - 'resource:reader'
            - 'resource:writer'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
      tags:
        - menu
  '/order/{orderId}':
    get:
      operationId: getDetailoOrderId
      description: Get details of an Order
      parameters:
        - name: orderId
          in: path
          description: Order Id
          required: true
          schema:
            type: string
            format: string
      responses:
        '200':
          description: OK Requested Order will be returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '304':
          description: Not Modified. Empty body because the client has already the latest version of the requested resource.
          content: {}
        '404':
          description: Not Found. Requested API does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '406':
          description: Not Acceptable. The requested media type is not supported
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - default:
            - 'resource:reader'
            - 'resource:writer'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
      tags:
        - order
    put:
      operationId: updateOrder
      description: Update an existing Order
      parameters:
        - name: orderId
          in: path
          description: Order Id
          required: true
          schema:
            type: string
            format: string
      requestBody:
        description: Order object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        required: true
      responses:
        '200':
          description: OK. Successful response with updated Order
          headers:
            Location:
              description: The URL of the newly created resource.
              schema:
                type: string
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Bad Request. Invalid request or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found. The resource to be updated does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed. The request has not been performed because one of the preconditions is not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - default:
            - 'resource:writer'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
      x-codegen-request-body-name: body
      tags:
        - order
    delete:
      operationId: deleteOrder
      description: Delete an existing Order
      parameters:
        - name: orderId
          in: path
          description: Order Id
          required: true
          schema:
            type: string
            format: string
      responses:
        '200':
          description: OK. Resource successfully deleted.
          content: {}
        '404':
          description: Not Found. Resource to be deleted does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '412':
          description: Precondition Failed. The request has not been performed because one of the preconditions is not met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - default:
            - 'resource:writer'
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
      tags:
        - order
components:
  schemas:
    ErrorListItem:
      title: Description of individual errors that may have occurred during a request.
      required:
        - code
        - message
      type: object
      properties:
        message:
          type: string
          description: Description about individual errors occurred
        code:
          type: integer
          format: int64
    MenuItem:
      title: Pizza menu Item
      required:
        - name
      type: object
      properties:
        price:
          type: string
        description:
          type: string
        name:
          type: string
        image:
          type: string
    Order:
      title: Pizza Order
      required:
        - orderId
      type: object
      properties:
        customerName:
          type: string
        delivered:
          type: boolean
        address:
          type: string
        pizzaType:
          type: string
        creditCardNumber:
          type: string
        quantity:
          type: number
        orderId:
          type: string
    Error:
      title: Error object returned with 4XX HTTP status
      required:
        - code
        - message
      type: object
      properties:
        message:
          type: string
          description: Error message.
        error:
          type: array
          description: If there are more than one error list them out. Ex. list out validation errors by each field.
          items:
            $ref: '#/components/schemas/ErrorListItem'
        description:
          type: string
          description: A detail description about the error message.
        code:
          type: integer
          format: int64
        moreInfo:
          type: string
          description: Preferably an url with more details about the error.
  securitySchemes:
    default:
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://localhost:8243/token'
          scopes:
            'resource:writer': 'resource:writer'
            'resource:reader': 'resource:reader'
      x-scopes-bindings:
        'resource:reader': Internal/reader
        'resource:writer': Internal/writer
x-wso2-auth-header: Authorization
x-wso2-cors:
  corsConfigurationEnabled: false
  accessControlAllowOrigins:
    - '*'
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
    - authorization
    - Access-Control-Allow-Origin
    - Content-Type
    - SOAPAction
    - apikey
    - testKey
  accessControlAllowMethods:
    - GET
    - PUT
    - POST
    - DELETE
    - PATCH
    - OPTIONS
x-wso2-production-endpoints:
  urls:
    - 'https://localhost:9443/am/sample/pizzashack/v1/api/'
  type: http
x-wso2-sandbox-endpoints:
  urls:
    - 'http://localhost:4010'
  type: http
x-wso2-basePath: /pizzashack/1.0.0
x-wso2-transports:
  - https
x-wso2-application-security:
  security-types:
    - oauth2
  optional: false
x-wso2-response-cache:
  enabled: false
  cacheTimeoutInSeconds: 300
