components:
  schemas:
    Error:
      properties:
        code:
          format: int64
          type: integer
        description:
          description: A detail description about the error message.
          type: string
        error:
          description: If there are more than one error list them out. Ex. list out
            validation errors by each field.
          items:
            $ref: '#/components/schemas/ErrorListItem'
          type: array
        message:
          description: Error message.
          type: string
        moreInfo:
          description: Preferably an url with more details about the error.
          type: string
      required:
      - code
      - message
      title: Error object returned with 4XX HTTP status
      type: object
    ErrorListItem:
      properties:
        code:
          format: int64
          type: integer
        message:
          description: Description about individual errors occurred
          type: string
      required:
      - code
      - message
      title: Description of individual errors that may have occurred during a request.
      type: object
    MenuItem:
      properties:
        description:
          type: string
        image:
          type: string
        name:
          type: string
        price:
          type: string
      required:
      - name
      title: Pizza menu Item
      type: object
    Order:
      properties:
        address:
          type: string
        creditCardNumber:
          type: string
        customerName:
          type: string
        delivered:
          type: boolean
        orderId:
          type: string
        pizzaType:
          type: string
        quantity:
          type: number
      required:
      - orderId
      title: Pizza Order
      type: object
  securitySchemes:
    default:
      flows:
        implicit:
          authorizationUrl: https://test.com
          scopes:
            resource:reader: Internal/reader
            resource:writer: writer
      type: oauth2
      x-scopes-bindings:
        resource:reader: Internal/reader
        resource:writer: Internal/writer
info:
  contact:
    email: architecture@pizzashack.com
    name: John Doe
    url: http://www.pizzashack.com
  description: |
    This is a RESTFul API for Pizza Shack online pizza delivery store.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: pizza-shack-api
  version: v1
openapi: 3.0.1
paths:
  /menu:
    get:
      description: Return a list of available menu items
      operationId: listMenu
      responses:
        "200":
          content:
            application/json:
              examples:
                200-OK:
                  value:
                  - description: Grilled white chicken, hickory-smoked bacon and fresh
                      sliced onions in barbeque sauce
                    icon: /images/6.png
                    name: BBQ Chicken Bacon
                    price: 25,99
                  - description: Grilled chicken, fresh tomatoes, feta and mozzarella
                      cheese
                    icon: /images/1.png
                    name: Chicken Parmesan
                    price: 28,99
              schema:
                description: ""
                items:
                  $ref: '#/components/schemas/MenuItem'
                minItems: 1
                type: array
                uniqueItems: true
          description: OK. List of APIs is returned.
        "201":
          description: Created
        "304":
          content: {}
          description: Not Modified. Empty body because the client has already the
            latest version of the requested resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Acceptable. The requested media type is not supported
      security:
      - default:
        - resource:reader
        - resource:writer
      tags:
      - menu
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        optional: false
        security-types:
        - oauth2
  /order:
    post:
      description: Create a new Order
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        description: Order object that needs to be added
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: Created. Successful response with the newly created object
            as entity inthe body. Location header contains URL of newly created entity.
          headers:
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
            Location:
              description: The URL of the newly created resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Invalid request or validation error.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unsupported Media Type. The entity of the request was in a
            not supported format.
      security:
      - default:
        - resource:writer
      summary: ""
      tags:
      - order
      x-auth-type: Application & Application User
      x-codegen-request-body-name: body
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        optional: false
        security-types:
        - oauth2
  /order/{orderId}:
    delete:
      description: Delete an existing Order
      operationId: deleteOrder
      parameters:
      - description: Order Id
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content: {}
          description: OK. Resource successfully deleted.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found. Resource to be deleted does not exist.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Precondition Failed. The request has not been performed because
            one of the preconditions is not met.
      security:
      - default:
        - resource:writer
      tags:
      - order
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        optional: false
        security-types:
        - oauth2
    get:
      description: Get details of an Order
      operationId: getDetailoOrderId
      parameters:
      - description: Order Id
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK Requested Order will be returned
        "304":
          content: {}
          description: Not Modified. Empty body because the client has already the
            latest version of the requested resource.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found. Requested API does not exist.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Acceptable. The requested media type is not supported
      security:
      - default:
        - resource:reader
        - resource:writer
      tags:
      - order
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        optional: false
        security-types:
        - oauth2
    put:
      description: Update an existing Order
      operationId: updateOrder
      parameters:
      - description: Order Id
        in: path
        name: orderId
        required: true
        schema:
          format: string
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Order'
        description: Order object that needs to be added
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
          description: OK. Successful response with updated Order
          headers:
            Content-Type:
              description: The content type of the body.
              schema:
                type: string
            Location:
              description: The URL of the newly created resource.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Invalid request or validation error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Not Found. The resource to be updated does not exist.
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Precondition Failed. The request has not been performed because
            one of the preconditions is not met.
      security:
      - default:
        - resource:writer
      tags:
      - order
      x-auth-type: Application & Application User
      x-codegen-request-body-name: body
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        optional: false
        security-types:
        - oauth2
security:
- default: []
servers:
- url: https://localhost:8243/pizzashack/v1
tags:
- description: Everything about your menu
  name: menu
- description: Access to pizza orders
  name: order
x-wso2-application-security:
  optional: false
  security-types:
  - oauth2
x-wso2-auth-header: Authorization
x-wso2-basePath: /pizzashack/1.0.0
x-wso2-cors:
  accessControlAllowCredentials: false
  accessControlAllowHeaders:
  - authorization
  - Access-Control-Allow-Origin
  - Content-Type
  - SOAPAction
  - apikey
  - testKey
  accessControlAllowMethods:
  - GET
  - PUT
  - POST
  - DELETE
  - PATCH
  - OPTIONS
  accessControlAllowOrigins:
  - '*'
  corsConfigurationEnabled: false
x-wso2-production-endpoints:
  type: http
  urls:
  - https://localhost:9443/am/sample/pizzashack/v1/api/
x-wso2-response-cache:
  cacheTimeoutInSeconds: 300
  enabled: false
x-wso2-sandbox-endpoints:
  type: http
  urls:
  - https://localhost:9443/am/sample/pizzashack/v1/api/
x-wso2-transports:
- https
